# IntelliJ
**/.idea/**
*.iml

# Eclipse
**/.settings/**
/.settings/
.project
.classpath
*.launch

# Node
/node_modules
/typings

# Maven
**/target/**

# Gradle
**/build/**
**/.gradle/**

# Atlassian
atlassian-*.xml

# Apple
.DS_Store

# Temp files
*~
*.tmp
*.bak
*.swp
*.swo

# ignore additional .gitignore files generated in directories 
./**/.gitignore

# Maven Versions Plugin
pom.xml.versionsBackup
/target/
